@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.not-prose.link-tool {
  @apply my-4 flex justify-between gap-4 rounded-sm p-4 shadow transition hover:shadow-md;
}

.not-prose.link-tool .meta {
  @apply flex flex-col;
}

.not-prose.link-tool .title {
  @apply font-semibold text-slate-800;
}

.not-prose.link-tool .description {
  @apply text-sm text-slate-500;
}

.not-prose.link-tool .host {
  @apply mt-auto text-sm font-bold text-slate-400;
}

.not-prose.link-tool .image {
  @apply aspect-square h-fit w-3/12 max-w-[100px] bg-cover;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .prose {
    @apply prose-headings:my-2;
    @apply prose-p:my-1;
    @apply prose-figure:my-2 prose-figcaption:mt-1 prose-figcaption:text-center;
    @apply prose-ul:my-2;
    @apply prose-ol:my-2;
    @apply prose-li:my-0.5 prose-li:pl-2;
    @apply prose-code:rounded-sm;
    @apply prose-pre:my-2;
    @apply prose-table:my-3;
    @apply prose-thead:font-bold;
    @apply prose-tr:my-0.5 prose-tr:leading-tight;
    @apply prose-th:border prose-th:py-1 prose-th:pl-2;
    @apply prose-td:border prose-td:py-1 prose-td:pl-2;
  }
  .prose .inline-code {
    @apply inline-block bg-slate-100;
  }
}

.skeleton {
  animation: skeleton-bg 1s linear alternate infinite;
}

@keyframes skeleton-bg {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 90%);
  }
}
